{% extends "Appweb/padre.html" %}

{% load static %}


{% block titutlo %}

<h1> Bienvenido a la coleccion <h1> 

<h2> Ingrese lo que desea buscar <h2> 

{% endblock %}

{% block inputs%}


<form action="/Appweb/cartas/" method="GET">
    <input type="text" name="nombre" id="nombre">
    <input type="submit" value="Buscar">
</form>
<p>  Resutaldo de busqueda: {{nombre}}  <p>
    
    {% for carta in carta %}
        <p> Nombre: {{carta.nombre}} ---- Precio: {{carta.precio}} ----- Stock: {{carta.stock}} <p>
    {% endfor %}
{% endblock %}